.button {
    border: none;
    background-color: $orange;
    color: #fff;
    border-radius: 90px;
    width: 220px;
    height: 47px;

    font-size: 16px;
    font-weight: 700;

    &_about-company {
        margin-top: 37px;
    }

    &_header {
        border-radius: 20px;
        border: 1px solid $black-green;
        width: 202px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        color: #000;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: left;

        .maxWidth {
            max-width: 140px;
        }

        img {
            max-width: 24px;
            max-height: 24px;
            margin-right: 9px;
        }

        &_active {
            border: none;
            background-color: $orange;

            color: #fff;

            .arrow_dropdown {
                width: auto;

                &::after,
                &::before {
                    background-color: #fff;
                    display: none;
                }
            }
        }
    }

    &_circle {
        border-radius: 40px;
        border: 1px solid #8c3213;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(#ffff, 0);

        &_white {
            border: 1px solid #fff;
        }

        &_card {
            background-color: #fff;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        }

        img {
            color: blue;
        }
    }
}

@media (max-width: 1114px) {
    .button {
        &_header {
            margin: 12.5px auto 0 auto;

            p {
                font-size: 13px;
                font-weight: 525;
            }

            img {
                max-width: 22px;
                max-height: 22px;
                margin-right: 6px;
            }
        }
    }
}

@media (max-width: 730px) {
    .button {
        width: 289px;
        height: 47px;
        margin: 0 auto;
        display: block;

        &_about-company {
            margin-top: 31px;
        }

        &_header {
            display: none;
            width: 289px;
            height: 47px;
            padding-left: 20px;
            justify-content: start;
        }

        &_header.arrow_dropdown {
            display: flex;

            &::after,
            &::before {
                background-color: #fff;
                display: block;
                right: 20px;
                top: 50%;
            }
        }
    }
}
