@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import './base/variables';

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    background: #f8f8f8;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.title,
h1 {
    font-size: 55px;
    font-weight: 700;
}

.right-leaf::after,
.left-leaf::before,
h1::before {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 25px;
    bottom: 14px;
    background-image: url('../icons/leaf.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.left-leaf,
h1 {
    position: relative;
    padding: 0 49px;
    display: inline-block;

    &::before {
        left: 0px;
    }
}

.right-leaf::after {
    transform: scale(-1, 1);
    right: 0px;
}

.arrow_dropdown {
    position: relative;
    width: 84px;

    &::before,
    &::after {
        content: '';
        width: 7px;
        height: 2px;
        display: block;
        position: absolute;
        right: 0;
        top: 59%;
        background-color: $green;
    }

    &::before {
        transform: translate(2px, -50%) rotate(135deg);
    }

    &::after {
        transform: translate(-2px, -50%) rotate(-135deg);
    }
}

@media (max-width: 1114px) {
    .container {
        width: 869px;
    }
}

@media (max-width: 873px) {
    .container {
        width: 725px;
    }

    .title {
        font-size: 35px;
    }

    .left-leaf {
        padding-left: 40px;

        &::before {
            width: 26px;
            height: 20px;
            bottom: 10px;
            bottom: 8.5px;
        }
    }
}

@media (max-width: 730px) {
    .container {
        width: 450px;
    }

    h1,
    .title {
        font-size: 25px;
    }

    h1 {
        &::before {
            bottom: -20px;
        }
    }

    .left-leaf {
        padding-left: 30px;

        &::before {
            width: 18px;
            height: 14px;
        }
    }
}

@media (max-width: 455px) {
    .container {
        width: 290px;
    }

    .title {
        font-size: 22px;
    }

    .left-leaf {
        padding-left: 23px;

        &::before {
            width: 14px;
            height: 11px;
            bottom: 5px;
        }
    }
}

@import './buttons';

@import './components/header';
@import './components/carousel';
@import './components/card';

@import './pages/main';
