.support {
    width: 259px;
    height: 41px;

    &__phone,
    &__phone_active {
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
    }

    &__phone {
        border: none;
        background: rgba(#000000, 0);
        text-align: left;
        width: 170px;

        &_active {
            margin-bottom: 13px;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &_wrapper {
        display: flex;
        align-items: center;

        &_right {
            display: flex;
            flex-direction: column;
            margin-left: 6px;
        }

        &_active {
            padding-left: 57px;
        }
    }

    &__descr {
        color: $green;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 700;
        text-decoration-line: underline;
        margin-top: 3px;
    }

    &_active_wrapper {
        display: none;
        margin: 17px 0 0 -20px;
    }

    &_active {
        .support_wrapper_main {
            width: 280px;
            height: 130px;
            background-color: #fff;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding-top: 10px;
            position: absolute;
            z-index: 101;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.header_sidebar_support.support_active {
    .button_circle_white {
        border: 1px solid $red;
    }

    .support__phone {
        color: #000;
    }
}

@media (max-width: 1114px) {
    .support {
        &__phone {
            font-size: 14px;
            width: 155px;
        }

        &__descr {
            margin-top: 0;
            font-size: 10.5px;
        }
    }
}
