.agrarian {
    min-height: 935px;
    width: 100%;
    background-image: url('../../img/agrarian_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

    .container {
        padding: 340px 0 0 45px;
    }

    &__man {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 719.25px;
        height: 595.5px;
    }

    &__subtitle {
        font-size: 55px;
        font-weight: 400;
    }

    &__descr {
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        font-weight: 400;
        margin: 28px 0 23px 0;
    }
}

.about-company {
    padding: 108px 0;

    &_container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__img {
        background-image: url('../../img/aboutCompany.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 588.8px;
        height: 462.4px;
        position: absolute;
        left: -150px;
    }

    &_text {
        width: 541px;

        .title {
            margin-bottom: 25px;
        }
    }

    &__descr {
        margin-top: 14px;

        font-size: 16px;
        font-weight: 700;
        color: rgba(#000000, 0.5);

        span {
            color: $black-green;
        }
    }
}

.news {
    text-align: center;
    padding-bottom: 120px;

    .title {
        margin-bottom: 39px;
    }
}

@media (max-width: 1300px) {
    .agrarian {
        &__man {
            width: 575.4px;
            height: 476.4px;
        }
    }

    .about-company {
        &__img {
            width: 581.8px;
            height: 460.4px;
            left: -55px;
        }

        &_text {
            width: 520px;
        }
    }
}

@media (max-width: 1114px) {
    .agrarian {
        &__man {
            width: 479.5px;
            height: 397px;
        }
    }

    .about-company {
        &__img {
            width: 340.8px;
            height: 276.4px;
            left: -8px;
            background-image: url('../../img/aboutCompany_mobile.png');
        }

        &_text {
            width: 500px;
        }
    }
}

@media (max-width: 873px) {
    .about-company {
        padding: 60px 0;

        &_container {
            display: block;
        }

        &_text {
            width: 100%;
        }

        &__img {
            display: block;
            margin: 0 auto 30px auto;
            position: static;
            width: 475.8px;
            height: 390.4px;
        }
    }
}

@media (max-width: 730px) {
    .agrarian {
        min-height: 707px;

        .container {
            padding: 159px 0 40px 0;
        }

        .left-leaf::before {
            bottom: -23px;
        }

        .title,
        &__subtitle {
            margin-left: 44px;
        }

        &__subtitle {
            font-size: 25px;
        }

        &__descr {
            font-size: 16px;
            margin: 3px 0 -7.7px 44px;
        }

        &__man {
            position: static;
            display: block;
            width: calc(100% + 30px);
            height: auto;

            margin: 0 0 29px -30px;
        }
    }

    .about-company {
        padding: 40px 0 35px 0;

        &__img {
            width: 450px;
            height: 367.4px;
        }

        &_text {
            .title {
                margin-bottom: 11px;
            }
        }

        &__descr {
            font-weight: 400;
        }
    }
}

@media (max-width: 455px) {
    .agrarian {
        &__descr {
            font-size: 15px;
            margin: 3px 0 -7.7px 44px;
        }
    }

    .about-company {
        &__img {
            width: 290px;
            height: 236.4px;
            margin-bottom: 24px;
        }
    }
}
